[submodule "libs/stdexec"]
	path = libs/stdexec
	url = git@github.com:NVIDIA/stdexec.git
[submodule "libs/DPP"]
	path = libs/DPP
	url = git@github.com:brainboxdotcc/DPP.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "libs/soci"]
	path = libs/soci
	url = git@github.com:SOCI/soci.git
[submodule "libs/cpr"]
	path = libs/cpr
	url = git@github.com:libcpr/cpr.git
[submodule "libs/json"]
	path = libs/json
	url = git@github.com:nlohmann/json.git
